body {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: poppins;
    background-color: #0b1215;
    margin-left: auto;
    margin-right: auto;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: clamp(1.25rem, 2vw, 1rem);
}
.title h2, h1{
    font-weight: 500;
    margin: 20px;
}
.title p{
    text-align: center;
    margin: 20px;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.Title {
    font-weight: 500;
    margin: 10px;
    font-size: clamp(.8rem, 2vw, 1.4rem);
} 
.container, .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: clamp(1.25rem, 2vw, 2.2rem);
}
.card h1 {
    font-size: clamp(1.25rem, 2vw, 1.9rem);
    align-items: flex-start;
}
.card p {
    margin: 20px;
    font-size: clamp(1rem, 2vw, 1.2rem);
}
ul, ol, li {
    font-size: clamp(.9rem, 2vw, 1.2rem);
    padding: 10px 40px;
}
li {
    font-size: clamp(.9rem, 2vw, 1.2rem);
    padding: 10px 20px;
}
.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: clamp(1.25rem, 2vw, 2.2rem);
    padding-right: 20px;
    padding-left: 20px;
}
.finishWork {
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: clamp(1.25rem, 2vw, 20px);
}
.finishWork h1 {
    margin: 0;
}

.finishWork{
    background: #5e5e5e;
    padding: 20px;
    border: 2px solid #747474;
    background: linear-gradient(135deg, rgba(94, 94, 94, 0.1),  rgb(94, 94, 94, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #ababab;
    transition-duration: 0.3s;
    margin-top: 30px;
}
.finishWork > a{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}


